<h1>Tables</h1>
<div class="container">

  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
    <th>#</th>
    <th>Event Title</th>
    <th>Date</th>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
    <td>1</td>
    <td><%= link_to event.title, event %></td>
    <td><%= event.start_date %></td>
  </tr>
  <% end %> 
</div>